<div class="div-container">
    
    <div class="header">
        <h1>Professor <span class="highlight">{{ teacherName }}</span></h1>
    </div>

    <div class="nav-bar-container">
        <div class="nav-pills">
            @for (tab of tabs; track tab) {
                <div 
                    class="nav-item" 
                    [class.active]="selectedTab === tab"
                    (click)="selectTab(tab)">
                    {{ tab }}
                </div>
            }
        </div>
    </div>


    <div class="card show-all">
        <div class="content">
            
            <div class="section-header">
                @if (selectedTab === 'Courses') {
                    <h2>Teaching Courses</h2>
                    <p>List of courses</p>
                } @else if (selectedTab === 'Projects') {
                    <h2>My Projects</h2>
                    <p>Manage active and past projects</p>
                } @else {
                    <h2>Awards Management</h2>
                    <p>Gamification configuration</p>
                }
            </div>


            <div class="div-table">
                <app-show-table 
                    [data]="currentData"
                    (editRow)="handleRowClick($event)"
                    (deleteRow)="handleDelete($event)" 
                    [showDelete]="selectedTab !== 'Courses'">
                </app-show-table>
            </div>

        </div>
    </div>
</div>