@if(data.length > 0) {
    <table class="show-table">
        <thead>
            <tr>
                <th *ngFor="let col of columns">{{ col }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td *ngFor="let col of columns">{{ row[col] }}</td>
                <td>

                    @if (showEdit) {
                        <i class="bi bi-gear" 
                           (click)="onEditClick(row)" 
                           style="cursor: pointer; margin-right: 10px;">
                        </i>
                    }
                    
                    @if (showDelete) {
                        <i class="bi bi-trash" 
                           (click)="onDeleteClick(row)" 
                           style="cursor: pointer;">
                        </i>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    
} @else {
    <p>Nenhum dado disponível.</p>
}