<div class="form-page-container">
    
    <form class="card form-card" [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
        
        <h2 class="form-title">Adicionar Professor</h2>

        <div class="form-group">
            <label for="name">Nome Completo</label>
            <input type="text" id="name" formControlName="name" placeholder="Ex: Carlos Santos">
            @if (teacherForm.get('name')?.invalid && teacherForm.get('name')?.touched) {
                <small class="error-msg">O nome é obrigatório.</small>
            }
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="Ex: carlos.santos@email.com">
            @if (teacherForm.get('email')?.invalid && teacherForm.get('email')?.touched) {
                <small class="error-msg">Por favor, insira um email válido.</small>
            }
        </div>

        <div class="form-group">
            <label>Cadeiras</label>
            
            <div class="cadeiras-list" formArrayName="courses">
                @for(courseGroup of courses.controls; track $index; let i = $index) {
                    <div class="cadeira-item" [formGroupName]="i">
                        <span class="code">{{ courseGroup.value.code }}</span>
                        <span class="name">{{ courseGroup.value.name }}</span>
                        <i class="bi bi-trash" (click)="removeCourse(i)"></i>
                    </div>
                }
            </div>

            @if (courses.invalid && (courses.touched)) {
                <small class="error-msg">Pelo menos uma cadeira é obrigatória.</small>
            }
            
            <div class="add-button-container">
                <button type="button" class="btn-add" (click)="toggleCourseList()">
                    <i class="bi bi-plus-circle-fill"></i>
                </button>
            </div>

            @if (showCourseList) {
                <div class="course-picker-list">
                    @for (course of allCourses; track course.id) {
                        <div class="course-picker-item" (click)="addCourse(course)">
                            <span class="code">{{ course.code }}</span>
                            <span class="name">{{ course.name }}</span>
                        </div>
                    }
                </div>
            }
        </div>

        <hr class="divider">

        <button type="submit" class="btn btn-primary btn-submit" [disabled]="teacherForm.invalid">
            Registar Professor
        </button>
    </form>
</div>