<div class="div-container">

    <form class="card form-card" [formGroup]="teacherForm" (ngSubmit)="onSubmit()">

        <h2 class="form-title">Adicionar Professor</h2>

        <div class="form-group">
            <label for="name">Nome Completo</label>
            <input type="text" id="name" formControlName="name" placeholder="Ex: Carlos Santos">
            @if (teacherForm.get('name')?.invalid && teacherForm.get('name')?.touched) {
            <small class="error-msg">O nome é obrigatório.</small>
            }
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="Ex: carlos.santos@email.com">
            @if (teacherForm.get('email')?.invalid && teacherForm.get('email')?.touched) {
            <small class="error-msg">Por favor, insira um email válido.</small>
            }
        </div>

        <div class="form-group">
            <label>Cadeiras do Professor</label>

            <div class="courses-list" formArrayName="courses">
                @for(courseGroup of courses.controls; track $index; let i = $index) {
                <div class="course-item" [formGroupName]="i">
                    <div class="info">
                        <span class="code">{{ courseGroup.value.code }}</span>
                        <span class="name">{{ courseGroup.value.name }}</span>
                    </div>
                    <i class="bi bi-trash" (click)="removecourse(i)"></i>
                </div>
                }
                @if(courses.controls.length === 0 && !showAddInputs) {
                <p class="empty-list-msg">Adicione cadeiras a este professor.</p>
                }
            </div>

            @if (showAddInputs) {
            <div class="inline-add-form">

                <div class="inline-input-group flex-grow">
                    <select [formControl]="selectedCourseId" class="inline-input"
                        [class.invalid]="selectedCourseId.invalid && selectedCourseId.touched">
                        <option [ngValue]="null" disabled>Selecione uma course...</option>
                        @for (course of allCourses; track course.id) {
                        <option [value]="course.id">
                            {{ course.name }}
                        </option>
                        }
                    </select>

                    @if (selectedCourseId.invalid && selectedCourseId.touched) {
                    <small class="inline-error-msg">
                        @if (selectedCourseId.hasError('required')) { Obrigatório. }
                        @if (selectedCourseId.hasError('duplicate')) { Já adicionada. }
                    </small>
                    }
                </div>

                <button type="button" class="btn-icon" (click)="confirmAddCourse()"
                    [disabled]="selectedCourseId.invalid">
                    <i class="bi bi-check-lg"></i>
                </button>
                <button type="button" class="btn-icon btn-cancel" (click)="cancelAddCourse()">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            }

            @if (!showAddInputs) {
            <div class="add-button-container">
                <button type="button" class="btn-add" (click)="showAddCourseFields()">
                    <i class="bi bi-plus-circle-fill"></i>
                </button>
            </div>
            }

            @if (courses.invalid && (courses.touched || isSubmitted) && !showAddInputs) {
            <small class="error-msg">Pelo menos uma course é obrigatória.</small>
            }
        </div>

        <hr class="divider">

        <button type="submit" class="btn btn-primary btn-submit" [disabled]="teacherForm.invalid">
            Registar Professor
        </button>
    </form>
</div>