@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Gluten:wght@100..900&family=Nerko+One&display=swap');

$white: #ffffff;
$dark-gray: #545454;
$medium-gray: #d9d9d9;
$light-gray: #efefef;

$font-primary: 'Chewy', cursive;
$font-secondary: 'Poppins', sans-serif;
