<div class="div-container">
    
    <div class="header">
        <button class="btn-back" routerLink="/teacher-dashboard">
            <i class="bi bi-arrow-left"></i> Back
        </button>
        <h1>
            {{ course?.name }}
        </h1>
        <p class="degree-name">{{ course?.degree?.name }}</p>
    </div>
    <div class="stats-cards">
        <app-stats-card 
            title="Enrolled Students" 
            [value]="course?.studentsCount || 0" 
            description="this semester"
            iconClass="bi bi-people-fill">
        </app-stats-card>

        <app-stats-card 
            title="Teams" 
            [value]="12" 
            description="formed (mock)"
            iconClass="bi bi-microsoft-teams">
        </app-stats-card>
    </div>
    <div class="card show-all">
        <div class="content">
            
            <div class="section-header">
                <h2>Course Projects</h2>
                <p>Manage projects and teams</p>
            </div>

            <div class="div-table">
                <app-show-table 
                    [data]="projectsView"
                    (editRow)="handleProjectClick($event)"
                    (deleteRow)="handleDeleteProject($event)"
                    [showDelete]="true"
                    [showEdit]="false">
                </app-show-table>
                <br>
                <br>

                <button class="btn btn-primary" (click)="createProject()">
                Create New Project
                </button>
            </div>



        </div>
    </div>
</div>