@import "../../../styles/variables.scss";

.div-container {
    width: 100%;
    height: 100%;

    background-color: $light-gray;

    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;
    gap: 1rem;

    padding: 2rem;

    .stats-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1rem;
    }

    .show-all{
        width: 100%;
        max-height: 65%;

        display: flex;
        justify-content: flex-start;

        padding: 20px 30px;

        .content{
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;

            .div-table{
                width: 100%;
                max-height: 60%;
                overflow-y: auto;
            }
        }
    }
}