<div class="div-container">
    
    <form class="card form-card" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        
        <h2 class="form-title">Register Student</h2>

        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" id="name" formControlName="name" placeholder="Ex: Ana Silva">
            @if (studentForm.get('name')?.invalid && studentForm.get('name')?.touched) {
                <small class="error-msg">This field is required</small>
            }
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="Ex: ana.silva@email.com">
            @if (studentForm.get('email')?.invalid && studentForm.get('email')?.touched) {
                <small class="error-msg">Please, insert a valid email</small>
            }
        </div>


        <div class="form-group">

            <label for="degree">Curso (Degree)</label>
            <select
                [formControl]="selectedDegreeId"
                class="inline-input"
                [class.invalid]="selectedDegreeId.invalid && selectedDegreeId.touched"
                (change)="selectDegree()">
                <option [ngValue]="null" disabled>Selecione um curso...</option>
                @for (degree of allDegrees; track degree.id) {
                    <option [value]="degree.id">
                        {{ degree.name }}
                    </option>
                }
            </select>

        </div>

        <hr class="divider">

        <button type="submit" class="btn btn-primary" [disabled]="studentForm.invalid">
            Register Student
        </button>
    </form>
</div>
