<div class="div-container">
    <div class="stats-cards">
        <app-stats-card title="Total Score" [value]="'365'" description="points"
            iconClass="bi bi-bar-chart-line-fill"></app-stats-card>
        <app-stats-card title="Awards Received" [value]="'5'" [description]="'2 automatic, 3 manual'"
            iconClass="bi bi-trophy-fill"></app-stats-card>
        <app-stats-card title="Tasks Completed" [value]="'24'" [description]="'of 30 assigned'"
            iconClass="bi bi-graph-up-arrow"></app-stats-card>
        <app-stats-card title="Ranking" [value]="'#3'" [description]="'of 45 students'"
            iconClass="bi bi-clipboard-data"></app-stats-card>
    </div>

    <app-section-selector [options]="sections" (selectedOption)="onSelectOption($event)">
    </app-section-selector>

    <div class="show-all">
        <div class="content">
            <h3>{{ selectedOption }}</h3>

            @if(selectedOption === 'Awards') {
            @for(d of data; track d) {
            <div class="card award-card">
                <img [src]="'Awards/' + d.badgeIcon + '.png'" alt="Award Image" class="award-image" />
                <div class="award-details">
                    <h4>{{ d.awardName }}</h4>
                    <p>{{ d.awardDescription }}</p>
                    <span>{{ d.projectName }} ● {{ d.assignedAt }}</span>
                </div>
                <span>+{{ d.points }} pts</span>
            </div>
            }
            }
            @else if(selectedOption === 'Dashboard') {
            @for(project of data; track project) {
            <div class="card project-card">
                <div class="project-header">
                    <div class="project-info">
                        <h3>{{ project.projectName }} ({{ project.myRole }})</h3>
                        <div class="project-description">{{ project.projectDescription }}</div>
                    </div>
                    <div class="project-progress">
                        <span>General Progress</span>
                        <h3>{{ getProjectProgress(project) }}%</h3>
                    </div>
                </div>

                <div class="progress" role="progressbar" aria-label="Example with label"
                    [attr.aria-valuenow]="getProjectProgress(project)" aria-valuemin="0" aria-valuemax="100"
                    style="width: 100%;">
                    <div class="progress-bar" [style.width.%]="getProjectProgress(project)"></div>
                </div>

                @if(project.myRole === 'PRODUCT_OWNER') {
                <button class="btn btn-secondary" (click)="goToRegisterSprint(project.projectId)">New Sprint</button>
                }

                <div class="accordion sprint-accordion" id="accordion-{{ project.id }}">
                    @for (sprint of project.sprints; track sprint) {

                    <div class="accordion-item">

                        <h2 class="accordion-header" id="heading-{{ sprint.id }}">
                            <button (click)="project.myRole === 'SCRUM_MASTER' ? getProjectDevelopers(sprint.id) : null"
                                class="accordion-button collapsed d-flex flex-row justify-content-between align-items-center gap-3"
                                type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + sprint.id"
                                aria-expanded="false" [attr.aria-controls]="'collapse-' + sprint.id">

                                <div class="sprint-info d-flex flex-row align-items-center gap-2">
                                    <i class="bi bi-layers"></i>
                                    <span>Sprint {{ sprint.sprintNumber }} - {{ sprint.goal }}</span>
                                </div>

                                <span class="sprint-dates">{{ sprint.startDate }} ● {{ sprint.endDate }}</span>

                                <span class="badge {{ getSprintStatusClass(sprint) }}">
                                    {{ getSprintStatus(sprint) }}
                                </span>
                            </button>
                        </h2>

                        <div id="collapse-{{ sprint.id }}" class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'heading-' + sprint.id"
                            [attr.data-bs-parent]="'#accordion-' + project.id">

                            <div class="accordion-body">

                                <div class="task-list">
                                    @for(task of sprint.tasks; track task) {
                                        @if((project.myRole === 'DEVELOPER' && task.assignedUserId == currentUserId) ||
                                        project.myRole !== 'DEVELOPER') {
                                        <div class="task-item d-flex flex-row justify-content-between align-items-center">

                                            <span class="task-title">
                                                <i class="bi bi-card-checklist"></i>
                                                {{ task.description }}
                                            </span>

                                            <div class="task-actions">
                                                @if(project.myRole === 'DEVELOPER') {
                                                    @if(task.status === 'TODO') {
                                                        <button class="btn btn-success"
                                                        (click)="changeTaskStatus(task.id, 'DOING')">Start</button>
                                                    }
                                                    @else if(task.status === 'DOING') {
                                                        <button class="btn btn-warning"
                                                        (click)="changeTaskStatus(task.id, 'REVIEW')">Review</button>
                                                    }
                                                }
                                                @else if(project.myRole === 'SCRUM_MASTER') {
                                                    @if(task.status === 'TODO') {
                                                        <select name="developer" id="developer-{{ task.id }}"
                                                            (change)="assignTaskToDeveloper(task.id, $event.target)">
                                                            <option value="">Select Developer</option>
                                                            @for(developer of developers; track developer) {
                                                                <option [value]="developer.teamMemberId"
                                                                    [selected]="developer.teamMemberId === task.assignedMemberId">
                                                                    {{ developer.name }}
                                                                </option>
                                                            }
                                                        </select>
                                                    }
                                                    @else {
                                                        <p class="task-member">{{ task.assignedMemberName }}</p>
                                                    }
                                                }
                                            </div>
                                            <span class="task-status">{{ task.status }}</span>
                                        </div>

                                        }
                                        @if(project.myRole === 'PRODUCT_OWNER' && task.status === 'REVIEW') {
                                        <div>
                                            <button class="btn btn-success"
                                                (click)="changeTaskStatus(task.id, 'DONE')">Approve</button>
                                            <button class="btn btn-info"
                                                (click)="changeTaskStatus(task.id, 'DOING')">Review</button>
                                        </div>
                                        }
                                        }
                                        @if(project.myRole === 'PRODUCT_OWNER') {
                                        <div class="form-group">
                                            @if (showAddInput) {
                                            <div class="inline-add-form">
                                                <input type="text" [formControl]="newTaskControl"
                                                    placeholder="Ex: Implement login" class="inline-input"
                                                    [class.invalid]="newTaskControl.invalid && newTaskControl.touched">

                                                <button type="button" class="btn-icon" (click)="createTask(sprint.id)"
                                                    [disabled]="newTaskControl.invalid">
                                                    <i class="bi bi-check-lg"></i>
                                                </button>

                                                <button type="button" class="btn-icon btn-cancel" (click)="cancelAddTask()">
                                                    <i class="bi bi-x-lg"></i>
                                                </button>
                                            </div>
                                            }

                                            @if (!showAddInput) {
                                            <div class="add-button-container">
                                                <button type="button" class="btn-add" (click)="showAddInput = true">
                                                    <i class="bi bi-plus-circle-fill"></i>
                                                </button>
                                            </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            }
            }
            @else if(selectedOption === 'Rankings' && rankings) {
            <div class="card individual-ranking-card">
                <h4>Individual Ranking</h4>
                <div class="score-infos">
                    <div class="card leaderboard-card">
                        <h5>Student Leaderboard</h5>
                        <div class="student-list">

                            @for(student of rankings.individualRankings; track student; let i = $index) {
                            @if(i < 4) { <div
                                [class]="'student-item' + (isCurrentUser(student) ? ' current-user' : '')">
                                <span class="student-rank">
                                    <i [class]="'bi bi-' + (i === 0 ? 'trophy' : (i+1) + '-circle')"></i>
                                    {{ student.studentName }}{{ isCurrentUser(student) ? ' (You)' : '' }}
                                </span>
                                <span class="student-score">{{ student.totalScore }} pts</span>
                        </div>
                        }
                        }

                    </div>
                </div>
                <div class="card score-distribution">
                    <h5>Score Distribution</h5>
                    <canvas baseChart [data]="userRankingData" [options]="userRankingOptions" chartType="bar">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="card team-rankings-card">
            <h4>Team Rankings</h4>
            <div class="team-list">
                @for(teamRanking of rankings.teamRankingsByCourse; track teamRanking; let tr = $index) {
                <div class="card team-item">
                    <h5>{{ teamRanking.courseName }}</h5>
                    <div class="score-infos">
                        <div class="leaderboard-card">

                            <div class="accordion team-accordion" [id]="'accordion-' + teamRanking.courseId">
                                @for (team of teamRanking.rankings; track team; let t = $index) {
                                <div class="accordion-item">

                                    <h2 class="accordion-header" [id]="'heading-' + team.teamId">
                                        <button
                                            [class]="'accordion-button collapsed d-flex flex-row justify-content-between align-items-center gap-3' + (isCurrentUserTeam(team) ? ' current-user' : '')"
                                            type="button" data-bs-toggle="collapse"
                                            [attr.data-bs-target]="'#collapse-' + team.teamId" aria-expanded="false"
                                            [attr.aria-controls]="'collapse-' + team.teamId">

                                            <div class="sprint-info d-flex flex-row align-items-center gap-2">
                                                <i [class]="'bi bi-' + (t === 0 ? 'trophy' : (t+1) + '-circle')"></i>
                                            </div>

                                            <span class="team-name">{{ team.teamName }}</span>

                                            <span class="team-points">{{ team.totalScore }} pts</span>

                                            <span>{{ isCurrentUserTeam(team) ? '(Your Team)' : '' }}</span>

                                        </button>
                                    </h2>

                                    <div [id]="'collapse-' + team.teamId" class="accordion-collapse collapse"
                                        [attr.aria-labelledby]="'heading-' + team.teamId"
                                        [attr.data-bs-parent]="'#accordion-' + teamRanking.courseId">

                                        <div class="accordion-body">

                                            <div class="member-list">
                                                @for(member of team.members; track member; let i = $index) {
                                                <div
                                                    [class]="(isCurrentUser(member) ? 'current-user ' : '') + 'member-item d-flex flex-row justify-content-between align-items-center'">

                                                    <p class="member-name">
                                                        <i
                                                            [class]="'bi bi-' + (i === 0 ? 'trophy' : (i+1) + '-circle')"></i>
                                                        {{ member.studentName }}
                                                        {{ isCurrentUser(member) ? '(You)' : '' }}
                                                    </p>
                                                    <p class="member-points">{{ member.score }} points</p>
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="card score-distribution">
                            <h5>Score Distribution</h5>
                            <canvas baseChart [data]="teamRankingData" [options]="teamRankingOptions" chartType="bar">
                            </canvas>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        }
        @else {
        <p>Select a section to view details.</p>
        }
    </div>
</div>
</div>