/* ================================
   CSS RESET MODERNO
   ================================ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  background-color: #fff;
  color: #222;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

body {
  line-height: 1.5;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

@import './styles/variables.scss';

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: $white;
    padding: 30px 0px;
    border: solid 1px $medium-gray;
    border-radius: 30px;
    box-shadow: 5px 5px 0px $dark-gray;
}
