<div class="div-container">
    
    <form class="card form-card" [formGroup]="degreeForm" (ngSubmit)="onSubmit()">
        
        <h2 class="form-title">Register Degree</h2> 

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" placeholder="Ex: Informatics Engineering">
            @if (degreeForm.get('name')?.invalid && degreeForm.get('name')?.touched) {
                <small class="error-msg">This field is required</small>
            }
        </div>  
            
        <div class="form-group">
            <label>Courses</label>

            <div formArrayName="courses" class="cadeiras-list">
                @for(course of courses.controls; track $index; let i = $index) {
                    <div class="cadeira-item">
                        <span class="name">{{ course.value }}</span>
                        <i class="bi bi-trash" (click)="removeCourse(i)"></i>
                    </div>
                }

                @if(courses.length === 0 && !showAddInput) {
                    <p class="empty-list-msg">Add courses to this degree</p>
                }
            </div>

            
            @if (showAddInput) {
                <div class="inline-add-form">
                    <input 
                        type="text"
                        [formControl]="newCourseName"
                        placeholder="Ex: Software Quality"
                        class="inline-input"
                        [class.invalid]="newCourseName.invalid && newCourseName.touched"
                    >

                    <button type="button" class="btn-icon" (click)="addCourse()" [disabled]="newCourseName.invalid">
                        <i class="bi bi-check-lg"></i>
                    </button>

                    <button type="button" class="btn-icon btn-cancel" (click)="showAddInput = false">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            }

            
            @if (!showAddInput) {
                <div class="add-button-container">
                    <button type="button" class="btn-add" (click)="showAddInput = true">
                        <i class="bi bi-plus-circle-fill"></i>
                    </button>
                </div>
            }

            
            @if (courses.invalid && (courses.touched || isSubmitted)) {
                <small class="error-msg">At least one course is required</small>
            }
        </div>

        <hr class="divider">

        <button type="submit" class="btn btn-primary" [disabled]="degreeForm.invalid">Register Degree</button>
    </form>
</div>